.App {
  text-align: center;
}

.taskBg {
  border: 1px solid gainsboro;
  border-radius: 6px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 12px;
  position: relative;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.2;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.iconsWrap {
  position: absolute;
  top: 50%;
  right: 15px;
  width: auto;
  display: inline-block;
  transform: translateY(-50%);
}

.iconsWrap span {
  padding: 0px 10px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}